<ion-header>
  <ion-toolbar>
    <ion-title>productDetails</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-thumbnail class="image">
    <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
  </ion-thumbnail>
  <ion-list>
    <ion-item>
      <ion-label>Marque {{getValue.brand}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Libelle {{getValue.libelle}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Description {{getValue.desc}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Code {{getValue.code}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Price {{getValue.priceBuy}}</ion-label>
    </ion-item>
  </ion-list>

</ion-content>
