<ion-header>
  <ion-toolbar>
    <ion-title>addProduct</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="addProduct">
  <ion-item>
    <ion-label position="floating">Libelle</ion-label>
    <ion-input formControlName="libelle"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Code</ion-label>
    <ion-input formControlName="code"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Description</ion-label>
    <ion-input formControlName="desc"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Prix</ion-label>
    <ion-input formControlName="price"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Prix vente</ion-label>
    <ion-input formControlName="priceBuy"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Marque</ion-label>
    <ion-input formControlName="brand"></ion-input>
  </ion-item>
  <button class="imageButton" (click)="choosePic()">
    Chosir
  </button>

  <button id="button" (click)="addProductAction()" class = "button button-large">
    Valider
  </button>
  </form>
</ion-content>
