#itemContent {
  justify-content: center;
  align-content: space-between;
  margin-left: 10px;
}

.hightligthedText {
  color: #3a7be0;
}
.disabledText{
  color: #4d4d4d;
}

#price {
  position: absolute;
  right: 2%;
  top: 2%
}
