<ion-header>
  <ion-toolbar>
    <ion-title>Liste produits</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let item of items" (click)="goToProductDetails(item)">
        <ion-thumbnail>
          <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
        </ion-thumbnail>
        <ion-col id="itemContent">
          <ion-label class="hightligthedText">{{item.libelle}}</ion-label>
          <ion-label>Code : {{item.code}}</ion-label>
          <ion-label class="disabledText">{{item.brand}}</ion-label>
        </ion-col>
      <ion-label id="price" class="hightligthedText">{{item.priceBuy}}</ion-label>
    </ion-item>
  </ion-list>
    <ion-fab vertical="bottom" (click)="addProduct()" horizontal="end" slot="fixed">
        <ion-fab-button>
            <ion-icon name="arrow-forward-circle"></ion-icon>
        </ion-fab-button>
    </ion-fab>
</ion-content>
