#container {
  text-align: center;
  height: 100%;
  margin-top: 20px;
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;
  color: #8c8c8c;
  margin: 0;
}

#container a {
  text-decoration: none;
}

#buttonLogin {
  background: #3a7be0;
  height: 50px;
  width: 100%;
  margin-top: 20px;
}

#registerButton {
  background: #3a7be0;
  height: 50px;
  width: 100%;
}

#loginImage {
    font-size: 180px;
    margin-bottom: 20px;
  //color: #3a7be0;
}

#segments {
  margin-top: 20px;
  height: 50px;
}

#selectCity {
  background: #0d0d0d;
  width: 200px;
}
#selectPic {
  width: 100%;
  background: #3a7be0;
  margin-bottom: 10px;
  margin-top: 10px;
  justify-content: center;
  align-content: center;
}
#iconUpload {
  font-size: 50px;
  color: #000000;
}
