<ion-content [fullscreen]="true">
  <div id="container">
      <ion-segment id="segments" (ionChange)="segmentChanged($event)" value="javascript">
        <ion-segment-button value="login">
          <ion-label>CONNEXION</ion-label>
        </ion-segment-button>
        <ion-segment-button value="register">
          <ion-label>INSCRIPTION</ion-label>
        </ion-segment-button>
      </ion-segment>
    <form [formGroup]="loginForm" class = "row" *ngIf="hideLogin">
      <ion-icon id="loginImage" name="people-outline"></ion-icon>
      <ion-item>
        <ion-label position="floating">Email</ion-label>
        <ion-input formControlName="usernameLogin"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Password</ion-label>
        <ion-input formControlName="passwordLogin"></ion-input>
      </ion-item>
      <button id="buttonLogin" (click)="login()" class = "button button-large">
        Valider
      </button>
    </form>
    <form [formGroup]="registerForm" class = "row" *ngIf="hideRegister">
      <ion-item>
        <ion-label position="floating">Nom</ion-label>
        <ion-input formControlName="name"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Prenom</ion-label>
        <ion-input formControlName="firstname"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Email</ion-label>
        <ion-input formControlName="email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Tel</ion-label>
        <ion-input formControlName="phone"></ion-input>
      </ion-item>


      <!--Gender-->
      <ion-radio-group value="F" formControlName="gender">
        <ion-row>
        <ion-col>
          <ion-list-header>
            <ion-label>Sexe</ion-label>
          </ion-list-header>
        </ion-col>
        <ion-col>
        <ion-item  class="radioItem">
          <ion-label>F</ion-label>
          <ion-radio slot="start" value="F"></ion-radio>
        </ion-item>
        </ion-col>
        <ion-col>
        <ion-item class="radioItem">
          <ion-label>M</ion-label>
          <ion-radio slot="start" value="M"></ion-radio>
        </ion-item>
        </ion-col>
        </ion-row>
      </ion-radio-group>

      <!--Section-->
      <ion-row class = "item item-input item-select">
        <ion-col>
        <ion-list-header>
          <ion-label>Ville</ion-label>
        </ion-list-header>
        </ion-col>
        <ion-col>
          <select id="selectCity" formControlName="city">
            <option selected>Casablanca</option>
            <option >Rabat</option>
            <option>Fes</option>
          </select>
        </ion-col>
      </ion-row>


      <button id="selectPic" (click)="choosePic()">
        <ion-row>
          <ion-col>
            <ion-list-header>
              <ion-label>Photo</ion-label>
            </ion-list-header>
          </ion-col>
          <ion-icon id="iconUpload" name="image-outline"></ion-icon>
        </ion-row>
      </button>
      <ion-item>
        <ion-label position="floating">Email</ion-label>
        <ion-input formControlName="usernameSignup"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Password</ion-label>
        <ion-input formControlName="passwordSignup"></ion-input>
      </ion-item>
      <!--Button-->
      <button id="registerButton" (click)="register()" class = "button button-large">
        Valider
      </button>
    </form>

  </div>
</ion-content>
